body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

/*------------------- NAV BAR -------------------*/

.nav {
    height: 30; 
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
}

.nav ul {
    background: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    /* position:fixed; */
}

.nav ul li {
    float: left;
}

.nav li a, dropbtn {
    color: #6699ff;
    display: block;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.nav li a:hover, .dropdown:hover .dropbtn{
    background: #6699ff;
    color: #FFFFFF;
    transition: color 0.2s;
    transition: background 0.8s;
}

.nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    background: #6699ff;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.nav .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav .dropdown-content a:hover {
    color: #4266A8;
    background: #ffffff;
}

.nav .dropdown:hover .dropdown-content {
    display: block;
}

/*------------------- HEADER -------------------*/

.header {
    background: linear-gradient(to bottom, #00ffcc 0%, #6699ff 100%);
    width: 100%;
    height: auto + 50;
    text-align: center;
    position: static;
    margin-top: 10px;
    z-index: 0;
}

.header h1 {
    color: #ffffff;
    font-size: 120px;
    margin: 0;
    letter-spacing: 12px;
    text-transform: uppercase; 
    z-index: -1;
}

.header p {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 8px;
    margin: 0;
    text-transform: uppercase; 
    position: static;
    top: 0px;
}

/*------------------- ABOUT ME -------------------*/

.aboutme {
    background-color: #ffffff;
    color: #777777;
    min-width: 200px;
    max-width: 1200px;
    height: 500px;
    overflow: scroll;
    display: inline-block;
    position: static;
    
}

.aboutme h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    border-top: 5px dotted #6699ff;
    border-bottom: 5px dotted #6699ff;
}

.aboutme h3{
    text-align: center;
}

.aboutme p {
    text-align: left;
    font-size:18px;
}

.aboutme .textWrap {
    float: left;
    margin: 25px;
}

/*------------------- PROJECTS -------------------*/

.projects {
    background: linear-gradient(to bottom, #00ffcc 0%, #6699ff 100%);
    color: #ffffff;
    min-width: 200px;
    max-width: 1200px;
    height: auto;
    display: inline-block;
    position: static;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 30px;
    height: 0;
    overflow: hidden;
    }

  .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
  }

/*------------------- SONIFY KINETIC MOTION -------------------*/

.sonifykinetic {
    width: 100%;
    height: auto;
}

.sonifykinetic h2 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-top: 5px dotted #FFFFFF;
    border-bottom: 5px dotted #FFFFFF;
    text-align: center;
    min-width: 200px;
    max-width: 1200px;
}

.sonifykinetic p {
    font-size:18px;
    text-align: left;
    font-weight: 700px;
    margin: 10px;
    min-width: 200px;
    max-width: 1200px;
}

/*------------------- VISUAL EFFECTS RACK -------------------*/

.justjam {
    color: #777777;
    background: #FFFFFF;
    width: 100%;
    height: 1000px;
}

.justjam h2 {
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-top: 5px dotted #6699ff;
    border-bottom: 5px dotted #6699ff;
    text-align: center;
    min-width: 200px;
    max-width: 1200px;
}

.justjam p{
    font-size: 18px;
    text-align: left;
    margin:10px;
    min-width: 200px;
    max-width: 1200px;
}
